.editor {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-areas: "view processing";
}

.view {
  grid-area: view;
}

.processing {
  grid-area: processing;
  display: flex;
  flex-direction: column;
}
